<h2 id="error_title">ERROR SIGNUP/LOGIN</h2>
<div id="back_buttons">
    <button id="back_button"><a href="/api/views/login">Back to login</a></button>
    <button id="back_button"><a href="/api/views/signup">Back to sign up</a></button>
</div>